@import '../styles//colors.scss';

select {
    outline: none;
    cursor: pointer;
    appearance: none;
    background: url('../assets/img/select-arrow.png') no-repeat calc(100% - 10px) 50%;
    background-size: 14px;
    border-radius: 5px;
    padding: 0 30px 0 10px;
    width: 180px;
    height: 36px;
    border: 1px solid $colorBlack;
    color: $colorBlack;
}

input {
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
    width: 180px;
    height: 36px;
    border: 1px solid $colorBlack;
    color: $colorBlack;
}
